<div class="container-fluid">
  <h1 class="text-center my-5">Productos destacados del mes!</h1>

  <div
    class="row row-cols-1 row-cols-md-3 row-cols-lg-4 mb-3 d-flex justify-content-between"
  >
    <!--Estas imagenes son estáticas pero tenemos q traerlas del back!-->
    <div class="col">
      <div class="card h-100">
        <h5 class="card-title text-center mt-3">Lámpara de techo</h5>
        <img
          src="./../../../assets/img/producto5.jpg"
          class="product card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-center">
            Armazón metálico 4 mm pintado. Hilado de yute / Cordón de algodón /
            Hilado de algodón torcido 27 hebras. Florón de techo metálico. Cable
            textil. Diámetro superior 20cm, inferior 30 cm y altura 20cm
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-danger"> Oferta $8999</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-title text-center mt-3">Espejo Moha</h5>
        <img
          src="./../../../assets/img/producto1.jpg"
          class="product card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-center">
            Armazón metálico 4 mm pintado. Hilado de yute / Cordón de algodón /
            Hilado de algodón torcido 27 hebras. Florón de techo metálico. Cable
            textil. Diámetro superior 20cm, inferior 30 cm y altura 20cm
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-danger">Oferta $5699</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-title text-center mt-3">Arco iris</h5>
        <img
          src="./../../../assets/img/producto3.jpg"
          class="product card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-center">
            Hilo de algodón torcido. Lana. Ancho y largo 30 cm
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-danger">Oferta $2599</small>
        </div>
      </div>
    </div>
  </div>
</div>
