img {
  width: 150px;
  height: 50px;
  padding: 12px;
}

button {
  display: block;
  position: relative;
  overflow: hidden;
}

span {
  transition: transform 0.2s ease-out;
}

button:hover .uno {
  transform: translatey(100%);
}

button:hover .dos {
  transform: none;
}

.uno {
  display: inline-block;
  padding: 5px;
}

.dos {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

nav {
  min-height: 100px;
}

a {
  color: var(--bluish);
}

a:hover,
a:focus {
  color: var(--dark);
}

.dropdown-menu {
  color: var(--bluish);
  background-color: var(--softPinky);
}

.dropdown-item {
  color: var(--bluish);
}

.dropdown-item:focus {
  color: #fff;
  background-color: #efc2bd;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #1c2331;
}

.admin-link {
  background-color: var(--bluish);
  color: var(--pinky) !important;
  border-radius: 5px;
}

.admin-link a {
  color: var(--pinky) !important;
}

.admin-link .dropdown-menu {
  background-color: var(--bluish) !important;
}

.admin-link .dropdown-menu li a {
  color: var(--pinky) !important;
}

@media (max-width: 992px) {
  #linkCuenta {
    margin: inherit !important;
  }
}
