.bg-dark {
  background-color: #1c2331 !important;
}

nav {
  min-height: 100px;
}

a {
  color: #fff;
}
a:hover,
a:focus {
  color: #efc2bd;
}
.dropdown-menu {
  color: #000;
  background-color: #efc2bd;
}
.dropdown-item {
  color: #000;
}

.dropdown-item:focus {
  color: #fff;
  background-color: #efc2bd;
}
.dropdown-item:hover {
  color: #fff;
  background-color: #1c2331;
}

.admin-link {
  background-color: var(--bluish);
  color: var(--pinky) !important;
  border-radius: 5px;
}

.admin-link a {
  color: var(--pinky) !important;
}

.admin-link .dropdown-menu {
  background-color: var(--bluish) !important;
}

.admin-link .dropdown-menu li a {
  color: var(--pinky) !important;
}

@media (max-width: 992px) {
  #linkCuenta {
    margin: inherit !important;
  }
}
