@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.container-fluid {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

.card {
  border: none;
  padding: 40px;
  background-color: #1c2331;
  color: #fff;
  width: 780px;
}

h3 {
  color: #efc2bd;
}

.form-input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 60px;
  display: flex;
  justify-content: flex;
}

.form-control {
  height: 40px;
  max-width: 400px;
  background-color: #fff;
  font-size: 15px;
}

input:focus {
  color: black;
  background-color: #efc2bd;
}
.btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }

 .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #efc2bd;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;

 }

 .btn span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
 }

 .btn:hover:before {
  width: 100%;
  background: #b1dae7;



 }
 .btn:active {
  transform: scale(0.95);
 }

.register {
  color: #efc2bd;
}

.login-form-inputs {
  width: 100%;
}

.login-form-inputs .form-group {
  width: 100%;
  margin: 0 1rem;
}

@media (max-width: 850px) {
  .login-form-inputs {
    flex-direction: column;
  }

  input {
    max-width: 100% !important;
    margin: auto;
  }
}
