<footer>
  <div class="container-lg d-grid align-items-center justify-content-center text-white py-5">
    <div class="text-center py-5">
      <div>
        <a href="/">
          <img class="logo-footer mb-5" src="./../../../../assets/img/Brands/c a l a macrameWhite trans.png"
            alt="Logo White">
        </a>
      </div>

      <div class="mb-5">
        <a href="/" class="me-3">Home</a>
        <a href="/products" class="me-3">Productos</a>
        <a href="/cart" class="me-3">Carrito</a>
        <a href="/" class="me-3">Quienes somos</a>
        <a href="/consultas" class="me-3">Consultas</a>
      </div>

      <div class="mb-5">
        <a href="https://www.facebook.com/Cala-Home-Dec%C3%B3-115276836982670" target="_blank" class="me-4">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/cala.macramedeco/" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>

      <div class="mb-5 ">
        © 2021 Cala Macrame Deco
      </div>

      <div>
        Mar del Plata, Buenos Aires, Argentina
      </div>
    </div>
  </div>
</footer>
