footer {
  height: auto;
  background-color: #1c2331;
}

.social-media {
  background-color: #db997f;
  height: 60px;
}
a:hover {
  font-size: 25px;
}

.main-content {
  min-height: 400px;
  padding: 1rem;
}

.main-content p {
  text-align: justify;
}

.copyright {
  height: 60px;
  background-color: #db997f;
}
