<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h5 class="text-center">Formulario de Registración</h5>
        <small class="mt-2 text-muted text-center"
          >Registrate para comprar, recibir ofertas via email, y hacer
          consultas!</small
        >
        <i class="fa fa-solid fa-at"></i>
        <div class="form-input d-flex">
          <input type="text" class="form-control me-2" placeholder="Email" />

          <input type="text" class="form-control" placeholder="Phone" />
        </div>
        <i class="fa fa-user"></i>
        <div class="form-input d-flex">
          <input type="text" class="form-control me-2" placeholder="Username" />
          <input type="text" class="form-control me-2" placeholder="Name" />
          <input type="text" class="form-control me-2" placeholder="Surname" />
          <input type="text" class="form-control" placeholder="Age" />
        </div>
        <div class="form-input m-auto">
          <i class="fa fa-lock"></i>
          <input type="text" class="form-control" placeholder="Password" />
        </div>
        <button class="btn btn-primary mt-4 signup">Registrarse</button>

        <div class="text-center mt-4">
          <span>Ya sos usuario/a?</span>
          <a href="#" class="text-decoration-none"> Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
