@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h3 {
  color: #efc2bd;
}

.noclick h3,
.noclick p {
  color: white;
  padding: 0 3rem;
}

.btn {
  background-color: var(--pinky) !important;
  color: var(--dark);
  padding: 0;
  transition: ease 0.3s;
  height: 100%;
  padding: 0.5rem;
}

.btn:hover {
  background-color: var(--dark) !important;
  color: var(--pinky) !important;
}

.progress {
  width: 40vh;
  max-width: 80vw;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  animation: progressbarParent 4s;
  animation-timing-function: ease-in-out;
}

.progress-bar {
  width: 100%;
  animation: progressbar 4s;
  animation-timing-function: ease-in-out;
}

@keyframes progressbar {
  0% {
    width: 0%;
  }

  90% {
    width: 100%;
  }
}

@keyframes progressbarParent {
  0% {
    height: 0.5rem;
  }

  90% {
    height: 0.5rem;
  }

  100% {
    height: 3rem;
  }
}

.card {
  border: none;
  padding: 40px;
  background-color: #1c2331;
  color: #fff;
  width: 780px;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control {
  height: 40px;
  max-width: 400px;
  background-color: #1c1e21;
  font-size: 15px;
}

.form-control {
  background-color: #fff;
  color: #000;
}

input:focus {
  background-color: #efc2bd;
  color: #000;
}

.btn {
  background-color: #617886;
  border-color: #efc2bd;
  /* height: 80px; */
  font-size: 18px;
}

.btn:hover {
  background-color: #efc2bd;
  color: #1c1e21;
}

.login-text {
  color: #efc2bd;
}

.form-registro-group {
  flex-direction: row;
}

@media (max-width: 600px) {
  .form-registro-group {
    flex-direction: column;
  }

  .form-registro-group>input {
    margin-top: 1rem;
  }
}
