<div class="d-flex row">
  <header>
    <img class="img-fluid w-100 h-100" src="./../../../assets/img/Brands/portada.png">
  </header>
  <section class="d-flex row text-center">
    <div class="text-center">
      <h2 class="fs-1">Tienda de objetos unicos</h2>
      <h5 class="text-muted fs-3">
        En c a l a le otorgamos valor a lo artesanal y a lo natural.<br> Cada una de
        nuestras piezas está confeccionada a mano priorizando<br> el uso de fibras
        vegetales para desarrollar los diseños.
      </h5>
    </div>
    <div class="d-flex justify-content-around">
      <div class="section-main d-flex row">
        <img src="./../../../assets/img/svg3.svg" alt="" />
        <div class="m-3">
          <h2 class="ms-3">AMBIENTACION</h2>
          <p class="text-muted">
            Contamos con el servicio de asesorías en ambientación y diseño de
            interiores. No sólo si necesitas ayuda para elegir una de nuestras
            piezas para tu ambiente, sino también como poder acondicionarlo con
            tips de decoración y distribución de objetos para mejorar la
            estética y la funcionalidad de tus espacios, con visitas
            presenciales o asesorías 100% online.
          </p>
        </div>
      </div>
      <div class="section-main d-flex row">
        <img src="./../../../assets/img/svg5.svg" alt="" />
        <div class="m-3">
          <h2>FABRICACION A MEDIDA</h2>
          <p class="text-muted">
            Además de los objetos estandarizados, fabricamos también, piezas a
            medida, personalizadas a cada uno de nuestros clientes. Objetos
            singulares que destacan por el amor y la originalidad de las manos
            de nuestra artesana y diseñadora.
          </p>
        </div>
      </div>
      <div class="section-main d-flex row">
        <img src="./../../../assets/img/svg4.svg" alt="" />
        <div class="m-3">
          <h2 class="ms-3">ARQUITECTURA</h2>
          <p class="text-muted">
            Agustina, las manos y cara visible de la marca, es de profesión arquitecta y además de los servicios de
            ambientación desarrolla de manera paralela el diseño, la dirección y construcción de espacios
            arquitectónicos y urbanos.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-end d-flex justify-content-around align-items-center">
    <div class="card col-md-6">
      <div class="card-img">
        <img src="./../../../assets/img/producto5.jpg" class="img-fluid" />
      </div>
    </div>

    <div class="col-md-4 p-4">
      <h2 class="text-center">Diseños unicos</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae iste
        perspiciatis doloremque. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Non molestias placeat recusandae deserunt hic esse
        saepe, dolores modi earum ratione, facilis numquam ullam nostrum
        similique illum alias natus nemo illo soluta facere doloribus
        reprehenderit at! Excepturi autem, nulla quo consequuntur atque aperiam,
        quae neque earum iusto, fugiat itaque et odit?
      </p>

    </div>
  </section>
  <section class="section-end d-flex justify-content-around align-items-center">
    <div class="col-md-4 p-4">
      <h2 class="text-center">Deco para interiores</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae iste
        perspiciatis doloremque. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Non molestias placeat recusandae deserunt hic esse
        saepe, dolores modi earum ratione, facilis numquam ullam nostrum
        similique illum alias natus nemo illo soluta facere doloribus
        reprehenderit at! Excepturi autem, nulla quo consequuntur atque aperiam,
        quae neque earum iusto, fugiat itaque et odit?
      </p>

    </div>
    <div class="card col-md-6">
      <div class="card-img">

        <img src="./../../../assets/img/producto4.jpg" class="img-fluid" />
      </div>
    </div>
  </section>
</div>
